# Ignore __pycache__ folders
__pycache__
./__pycache__
*/__pycache__

# Ignore egg-info folders
*.egg-info

# Ignore .vscode files
.vscode

# Ignore pytest cache
.pytest_cache

# Ignore github files
.github/*

# Ignore dist folder
./dist/*

# Ignore local test file
test.py